.axis text {
    font: 10px sans-serif;
}

body{
  background: rgb(242, 242, 242);
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.legend {
  padding: 5px;
  font: 15px sans-serif;
}